<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
>
    <div class = "row">
        <div class = "col"
        (click) = "onClick()"
        (dblclick)="onDblClick()">
            <h3 class = "row">
                {{ task.text }}
            </h3>
            <p class = "row">
                {{ task.date }}
            </p>
        </div>
        <fa-icon
            (click)="onDelete()"
            [ngStyle]="{ color: 'red' }"
            [icon]="faWindowClose"
            class = "col"
        ></fa-icon>
        
    </div>
  
</div>