<form *ngIf = "show" class="add-form" [formGroup] = "addForm" (ngSubmit) = "onSubmit()">
    <div class="form-control">
        <label for="text">Task </label>
        <input id="text" type="text" formControlName="text" placeholder="Task Text">
        <div *ngIf = "text.invalid && (text.dirty || text.touched)" class="alert alert-danger" >
            <div *ngIf="text.errors!['required']"> Task text is required!</div>
        </div>    
    </div>
  
    <div class="form-control">
        <label for="date">Date </label>
        <input id="date" type="text" formControlName="date" placeholder="Task Date">    
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input id = "reminder" type="checkbox" formControlName="reminder">    
    </div>

    <button class="btn btn-block" type="submit" >Add Task</button>
</form>
